<h1>add new book</h1>

<form action="/book" method="post" >
  <label for="">title</label>
  <input type="text" name="title">
  <label for="">ISBN</label>
  <input type="text" name="isbn">
  <label for="">authors</label>
  <input type="text" name="authors">
  <label for="">publisher</label>
  <input type="text" name="publisher">
  <button>Add</button>
</form>