<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
</head>
<body>
  <h3><%=@company_name%><h3>
  <p><%=@latest_price%></p>
  <div>
  <ul>
  <li>High <span> <%=@high_price %></span></li>
  <li>Low <span>    <%=@low_price %></span></li>
  </ul>
  </div>
  <footer><a href="/about">About</a></footer>
</body>
</html>